terratowns_endpoint = "https://terratowns.cloud/api"
medianxl = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/medianxl"
  content_version = 4 
}
starve = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/starve"
  content_version = 3 
}